input{
    display: inline-block;
    width: 300px;
    margin: 30px 10px;
}
#tableResult{
    text-align: center;
    
}
table{
    margin: auto;
    border: 1px solid black;
}
th{
    width: 300px;
}
td,th{
    border: 1px solid black;
}
tr:nth-child(even){
    background-color: gray;
}
.font-fire-effect{
    
}